# Shikari King

## Research question/interests

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
data_Raw = pd.read_csv('../data/raw/inflation interest unemployment.csv')

data_Raw

,country,year,"Inflation, consumer prices (annual %)","Inflation, GDP deflator (annual %)",Real interest rate (%),Deposit interest rate (%),Lending interest rate (%),"Unemployment, total (% of total labor force) (national estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)",iso3c,iso2c,adminregion,incomeLevel
0,Afghanistan,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
1,Afghanistan,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
2,Afghanistan,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
3,Afghanistan,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
4,Afghanistan,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG,AF,South Asia,Low income
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13827,Zimbabwe,2017,0.893962,2.437608,4.370035,3.274167,6.914167,NaN,4.785,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13828,Zimbabwe,2018,10.618866,59.803356,-32.960315,2.532500,7.131667,NaN,4.796,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13829,Zimbabwe,2019,255.304991,440.829791,-78.517887,2.975000,16.181667,16.860001,4.833,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13830,Zimbabwe,2020,557.201817,558.560024,-79.803157,4.518333,33.008333,NaN,5.351,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income
13831,Zimbabwe,2021,NaN,NaN,NaN,8.059167,45.476667,NaN,5.174,ZWE,ZW,Sub-Saharan Africa (excluding high income),Lower middle income